.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1% 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "pic1 primary-pic title"
        "pic2 primary-pic price"
        "pic3 primary-pic detail"
        "pic4 primary-pic buy";
    width: 90%;
    min-height: 90vh;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 20px grey;
}

.primary-pic {
    grid-area: primary-pic;
    object-fit: cover;
    margin: auto;

}

.pic-detail{
    margin: auto;
    width: 100%;
    height: 120px;
    border: 1px solid black;
    object-fit: cover;
}

.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

.pic4 {
    grid-area: pic4;
}

.title {
    justify-self: center;
    align-self: center;
    grid-area: title;
}

.price {
    justify-self: center;
    align-self: center;
    grid-area: price;
}

.detail {
    grid-area: detail;
}

.buy {
    justify-self: center;
    align-self: center;
    grid-area: buy;
}