header.header-main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img.logo-bike-store{
    width: 150px;
    min-width: 100px;
}

.header__child{
    display: flex;
    align-items: center;
}

